<h2 class="authentication-page-title">Sign up</h2>
<div class="authentication-form">
  <div class="authentication-form-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="text-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="text-field">
        <%= f.label :username %>
        <%= f.text_field :username, required: true %>
      </div>

      <div class="password-field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="password-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="form-footer">
        <%= f.submit "Sign up", class: "btn-authentication" %>
      </div>
    <% end %>
  </div>
</div>

<div class="authentication-footer-info">
  <p>
    Have an account?
    <%= link_to "Log in", new_user_session_path %>.
  </p>
</div>
