<h2 class="authentication-page-title">Log in</h2>
<div class="authentication-form">
  <div class="authentication-form-content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="text-field">
        <%= f.label :login, "Username / Email" %>
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div class="password-field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-footer">
        <%= f.submit "Log in", class: "btn-authentication" %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: "forgot-password" %>
      </div>
    <% end %>

  </div>
</div>
<div class="authentication-footer-info">
  <p>
    Don't have an account?
    <%= link_to "Create an Account", new_user_registration_path %>.
  </p>
</div>
